<div class="container">
	<h1><%= t("new") %> <%= t("district") %></h1>

	<%= render 'form' %>

	<br>

	  <%= link_to districts_path  do %>
	    <i class="glyphicon glyphicon-list"></i>
	  <% end %>

</div>

