<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-md-4 col-xs-12">
    <h3>Orders by Clients</h3>
    <%= pie_chart @orders.group(:client).count %>
  </div>
  <div class="col-md-4 col-xs-12">
    <h3>Orders by Week</h3>
    <%= column_chart @orders.group(:client).group(:call_week).count %>
  </div>
  <div class="col-md-4 col-xs-12">
    <h3>Orders by Status</h3>
    <%= pie_chart @orders.group(:status).count %>
  </div>
</div>