<% if @photos.count > 0 %>
  <br/><br/>

  <div class="row no-gutters">
    <% @photos.General.each do |photo| %>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
        <div class="panel panel-default">
          <div style="padding:0" class="panel-heading preview" >

              <%= link_to "#photo_#{photo.id}" do %>
                <%= image_tag photo.image.url(), :style => "border: 1px solid;background-size: cover; "%>
              <% end %>
          </div>

          <div class="panel-body">


            <% if photo.latitude? %>
              <span  style="text-indent: 1em;" >

              <%= link_to  "http://maps.google.com/maps/api/staticmap?size=900x600&key=AIzaSyA9afljyyIF4GlEhb51-IqK-FH2i7IqJCg&language=zh-TW&sensor=false&zoom=18&markers=#{photo.latitude}%2C#{photo.longitude}" do %>

              <%#= link_to photo.image.url() do %>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                <% end %>
              </span>
            <% end %>
            <% if @item.order.Open? or current_user.Admin? %>
              <span class="pull-right">
                <%= link_to item_photo_path(photo.photoable_id, photo.id), remote: true, method: :delete,
                      data: {confirm: "Are your sure? "} do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </span>
            <% end %>
          </div>

          </body>
        </div>
      </div>
    <% end %>
  </div>
<% end %>