<% if @photos.count > 0 %>
  <br/><br/>

  <div class="row no-gutters">
  	<% @photos.General.each do |photo| %>
  	  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
  	    <div class="panel panel-default">
  	      <div style="padding:0" class="panel-heading preview" >
	  	      <%= image_tag photo.image.url(), :style => "border: 1px solid;background-size: cover; "%>
  	      </div>

          <div class="panel-body">
            <span class="pull-right">
              <% if photo.photoable_type == "Order" %>
                <%= link_to order_photo_path(photo.photoable_id, photo.id), remote: true, method: :delete,
                    data: {confirm: "Are your sure? "} do %>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
              <% else %>
                <%= link_to complaint_photo_path(photo.photoable_id, photo.id), remote: true, method: :delete,
                    data: {confirm: "Are your sure? "} do %>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
              <% end %>
            </span>
          </div>

          </body>
  	    </div>
  	  </div>
  	<% end %>
  </div>
<% end %>
