<div>
    <%= link_to @order  do %>
      <i class="glyphicon glyphicon-zoom-in btn btn-tall btn-grey fa-2x col-xs-6"></i> 
    <% end %>
    <%= link_to orders_path  do %>
      <i class="glyphicon glyphicon-list  btn btn-tall btn-success fa-2x col-xs-6"></i>
    <% end %>
</div>